<!DOCTYPE html>
<html>
	{{template "head" .}}
<body class="bg-white" data-bg-color="bg-white">
    <div class="king-page-box">
        <div class="king-layout1-header">
		{{template "nav" .}} 
        </div>
        <div class="king-layout2-main mt15" style="width:960px;">
            <div class="king-block king-block-bordered king-block-themed mb0">
                <div class="king-block-header king-info">
                    <ul class="king-block-options">
                        <li>
                            <!-- <button type="button"><i class="fa fa-cog"></i></button> -->
                        </li>
                    </ul>
                    <h3 class="king-block-title">登录</h3>
                </div>
                <div class="king-block-content">
                    <form action="/login" method="post" class="form-vertical p15">
                        <div class="form-group ">
                            <label>用户名：</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="用户名或者邮箱"> </div>
                        <div class="form-group ">
                            <label>密码：</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="密码">
                            <p class="help-block"></p>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="king-btn mr10  king-success">登录</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
