<!DOCTYPE html>
<html>
	{{template "head" .}}
<body class="bg-white" data-bg-color="bg-white">
    <div class="king-page-box">
        <div class="king-layout1-header">
		{{template "nav" .}} 
        </div>
        <div class="king-layout2-main mt15" style="width:960px;">
            <div class="king-block king-block-bordered king-block-themed mb0">
             <div class="panel panel-default mb0">
		     <div class="panel-heading"><i class="fa fa-group"></i> </div>
                <div class="panel-body"> 
			<h3> 联系我们:</h3>
			<a href="mailto:support@exmaple.com"> <p> support@exmaple.com</p> </a>
			<h3> 本站开源 </h3>
			<a href="https://github.com/linexjlin/ss-web-manager"> <p> 源码</p> </a>
		</div>
            </div>   
            </div>
        </div>
    </div>
</body>

</html>
