<!DOCTYPE html>
<html>
	{{template "head" .}}

<body class="bg-white" data-bg-color="bg-white">
    <div class="king-page-box">
        <div class="king-container clearfix">
		{{template "nav" .}} 
            <div class="panel mb0 panel-box  ">
                <div class="list-justified-container">
                    <ul class="list-justified text-center">
                        <li>
                            <p class="f24">类型</p>
			    <p>{{.Type}}</p>
                        </li>
                        <li>
                            <p class="f24">剩余时间</p>
			    <p>{{.DayRemains}}</p>
                        </li>
                        <li>
                            <p class="f24">剩余流量</p>
			    <p>{{.TrafficRemains}}</p>
                        </li>
                             <li>
                            <p class="f24">已经使用</p>
			    <p>{{.UsedTraffic}}</p>
                        </li>                   

                    </ul>
                </div>
            </div>
            <!-- 设置面板Start -->
            <!-- 设置面板End -->
            <div class="king-block king-block-bordered king-block-themed mb0">
                <div class="king-block-header king-info">
                    <ul class="king-block-options">
                        <li>
                            <!-- <button type="button"><i class="fa fa-cog"></i></button> -->
                        </li>
                    </ul>
                    <h3 class="king-block-title">节点列表</h3>
                </div>
                <div class="king-block-content">
                    <table class="table mb0 pr15 ranger-box2  ">
                        <thead>
                            <tr>
                                <th style="width: 70px;">#</th>
                                <th style="width: 15%;">名称</th>
                                <th style="width: 15%;">位置</th>
                                <th style="width: 15%;">日期</th>
                                <th style="width: 15%;">类型</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                    <template id="header_tpl_14930069041302">
                        <tr>
                            <th style="width: 70px;">#name#</th>
                            <th style="width: 5%;">#location#</th>
                            <th style="width: 5%;">#ip#</th>
                            <th style="width: 5%;">#port#</th>
                            <th style="width: 8%;">#method#</th>
                            <th style="width: 5%;">#key#</th>
                            <th style="width: 5%;">#status#</th>
                            <th style="width: 5%;">#qrcode#</th>
                            <th>操作</th>
                        </tr>
                    </template>
                    <template id="tpl_14930069041302">
                        <tr>
                            <td style="width: 70px;">#name#</td>
                            <td style="width: 5%;">#location#</td>
                            <td style="width: 5%;">#ip#</td>
                            <td style="width: 5%;">#port#</td>
                            <td style="width: 8%;">#method#</td>
                            <td style="width: 5%;">#key#</td>
                            <td style="width: 5%;">#status#</td>
                            <td style="width: 5%;">#qrcode#</td>
                            <td>
                                <button class="btn btn-xs btn-success"> <i class="glyphicon glyphicon-ok"></i> </button>
                                <button class="btn btn-xs btn-warning"> <i class="glyphicon glyphicon-edit"></i> </button>
                                <button class="btn btn-xs btn-danger"> <i class="glyphicon glyphicon-remove"></i> </button>
                            </td>
                        </tr>
                    </template>
                    <!-- 设置面板End -->
                </div>
            </div>
            <div class="king-block king-block-bordered king-block-themed mb0">
                <div class="king-block-header king-info">
                    <ul class="king-block-options">
                        <li>
                            <!-- <button type="button"><i class="fa fa-cog"></i></button> -->
                        </li>
                    </ul>
                    <h3 class="king-block-title">近期使用详细</h3>
                </div>
                <div class="king-block-content">
                    <div style="height: 300px; position: relative;" id="chart_1493006930851" class="king-chart-box chart-bar  k-chart" data-role="chart"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function(){
                function renderTpl(str, cfg) {
                    var re = /(#(.+?)#)/g;

                    return str.replace(re, function() {
                        var val = cfg[arguments[2]]+'';
                        if(typeof val == 'undefined') {
                            val = '';
                        }
                        return val;
                    });
                }

                // 异步请求后台数据
                $.ajax({
                    url: '/api/myservers.json',
                    type: 'GET',
                    success: function(res){
                        var _html = ' ';
                        var list = res.items;
                        var tpl = $('#tpl_14930069041302').html();
                        var headerTpl =  $('#header_tpl_14930069041302').html();
                        for (var i=0,len=list.length; i < len; i++){
                            var item = list[i];
                            _html += renderTpl(tpl, item)
                        }
                        $('.ranger-box2 tbody').html(_html);
                        $('.ranger-box2 thead').html(renderTpl(headerTpl,res.catalogues));
                    }
                });
            });
    </script>
    <script>
        // 创建图表
        function createKendoBarChart(conf){
            $(conf.selector).kendoChart({
                legend: {
                    position: "top"
                },
                theme : 'bootstrap',
                categoryAxis : {
                    majorGridLines : {
                        visible: false
                    },
                    categories : conf.data.categories
                },
                seriesDefaults : {
                    type: "column"
                },
                series : conf.data.series,
                valueAxis : {
                    max: 200,
                    line: {
                        visible: false
                    },
                    minorGridLines: {
                        visible: false
                    },
                    labels : {
                        rotation: "auto"
                    }
                },
                tooltip: {
                    visible : true,
                    template: "#= series.name # #= value #"
                }
            });
            $(window).resize(function(){
                $(conf.selector).data("kendoChart").refresh();
            });
        }

        function initKendoBarChart(conf){
            // 异步请求后台数据
            $.ajax({
                url: conf.url,
                type: 'GET',
                dataType: conf.dataType,
                success: function(res){
                    //获取数据成功
                    if (res.result){
                        var data = {
                            series: res.data.series,
                            categories: res.data.categories
                        };
                        createKendoBarChart({
                            selector: conf.container, // 图表窗器
                            data: data // 图表数据
                        });
                    }
                }
            });
        }
    </script>
    <script>
        $(function(){
            initKendoBarChart({
		url: '/api/mytraffic.json',
                dataType: 'json',
                container: '#chart_1493006930851'
            });
        });
    </script>
</body>

</html>
